<section
  class="relative bg-[url('/public/assets/paint-image.webp')] bg-no-repeat bg-top pb-10 md:pb-10"
>
  <div class="absolute inset-0 opacity-75 bg-black"></div>
  <section
    class="relative pt-3 md:pt-10 grid md:grid-cols-2 text-white font-bold"
  >
    <article class="text-center w-4/5 mx-auto flex flex-col gap-2 md:gap-10">
      <h2 class="text-2xl md:text-6xl">Acerca del Cubo de Rubik</h2>
      <p class="text-sm md:text-2xl">
        ¿De dónde es el cubo de Rubik? ¿Quién lo inventó? ¿Buscas más
        información sobre el cubo de Rubik? Has llegado al lugar adecuado. El
        Cubo de Rubik fue inventado en 1974 por Ernõ Rubik, un profesor de
        arquitectura húngaro. Más tarde, Rubik utilizó el cubo como ejercicio de
        aprendizaje para enseñar a sus alumnos los espacios tridimensionales.
        Poco podía imaginar que su "Cubo Mágico" (como lo bautizó en un
        principio) se convertiría en uno de los rompecabezas más famosos de
        todos los tiempos. En la década de 1980, el Cubo de Rubik era una locura
        mundial que vendía millones de cubos al año y consolidaba su legado en
        la cultura pop. Apareció en Los Simpson, The Big Bang Theory, en un
        vídeo musical de las Spice Girls y en importantes películas de
        Hollywood, y su popularidad no dejó de crecer en todo el mundo.
      </p>
    </article>
    <img
      class="rounded-xl w-2/3 md:w-3/4 mx-auto mt-4 md:mt-16"
      src="../../public/assets/erno-rubik.webp"
      alt=""
    />
  </section>
</section>
