---

---

<div
  class="flex bg-transparent top-0 py-6 md:flex-wrap bg-silver gap-3 md:gap-[40px] md:ml-6"
>
  <img src="../../public/assets/rubik-icon.svg" alt="Rubik Icon" />
  <ul class="flex text-sm gap-3 md:gap-[40px] md:text-2xl pt-5 font-extrabold">
    <li>Inicio</li>
    <li>Introducción</li>
    <li>Beneficios</li>
    <li>Galería</li>
  </ul>
</div>
