---
import Header from "./Header.astro";
---

<section
  class="bg-[url('/public/assets/hero-image.webp')] bg-no-repeat bg-top pb-10 md:pb-0 md:text-white"
>
  <Header />
  <section
    class="pt-20 md:pt-0 flex items-center justify-center flex-col gap-2 text-white font-bold"
  >
    <h1
      class="text-6xl leading-none md:text-9xl w-2/3 text-center md:leading-relaxed"
    >
      Colores que despiertan mentes
    </h1>
    <h3 class="text-2xl leading-none md:text-5xl md:leading-loose">
      Giros que crean soluciones
    </h3>
  </section>
</section>
